.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #000000;
}

.navbar-logo {
    flex-basis: 15%;
    margin-right: 40px;
}

.navbar-logo > a > img {
    height: 100%;
}

.navbar-menu {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.navbar-menu > a {
    margin-right: 50px;
    color: #ffffff;
}

.navbar-user {
    flex-basis: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-user > .button {
    margin-right: 30px;
}

.navbar-user > .login {
    margin-right: 40px;
    color: lightgreen;
}