.container{
    width: 100%;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container > .pannello {
    width: 80%;
    padding: 30px;
    border-radius: 12px;
    background-color: #ffffff;
}

.container > .pannello > .esito{
    padding: 20px;
    text-align: center;
}
.container > .pannello > .esito > h2{
    font-size: 30px;
    font-weight: bold;
}

.container > .pannello > .riepilogo{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > .pannello > .riepilogo .punteggio{
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container > .pannello > .riepilogo .giocatori{
    width: 100%;
    font-size: 30px;
    font-weight: regular;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container > .pannello > .riepilogo .left{
    width: 40%;
    text-align: right;
}
.container > .pannello > .riepilogo .center{
    width: 20%;
    text-align: center;
}
.container > .pannello > .riepilogo .right{
    width: 40%;
    text-align: left;
}

