.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bg{
    filter: blur(6px);
    -webkit-filter: blur(6px);
    width: 100%;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.quit {
    width: 100%;
    height: 5vh;
    padding: 20px;
}
.quit > a {
    color: #ffffff;
    text-decoration: none;
}

.quiz {
    width: 100%;
    padding: 20px;
    height: 90vh;
}

.quiz > .quiz-domanda {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}
.quiz > .quiz-domanda #domanda {
    color: #ffffff;
    width: 80%;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 12px;
    align-self: center;
}

.quiz > .quiz-domanda #esito {
    color: #ffffff;
}

.quiz > .quiz-risposte {
    width: 75%;
    display: grid;
    grid-template: 'a b'
                   'c d' / 1fr 1fr;
    grid-gap: 10px;
    margin:0 auto;
}

.quiz > .quiz-risposte > .quiz-risposta {
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    text-align: center;
}
.quiz > .quiz-risposte > .quiz-risposta > button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    min-height: 150px;
    background-color: #ffffff;
    border: 1px solid #cacdc7;
    box-shadow: #a9a9a3 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
}
.quiz > .quiz-risposte > .quiz-risposta > button:hover {
    cursor: pointer;
}
.quiz > .quiz-risposte > .quiz-risposta > button:disabled {
    background-color: #ffffff;
    color: #000000;
}
.quiz > .quiz-risposte > .quiz-risposta > button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #b0aeae 0px 0px 0px;
}

.quiz > .quiz-prossima {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.quiz > .quiz-prossima > button {
    color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    background-color:#77bc3f;
    border: 1px;
    box-shadow: #015a18 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
    font-weight: bold;
}
.quiz > .quiz-prossima .prossima:hover {
    background-color: green;
    color: black;
    cursor: pointer;
}
.quiz > .quiz-prossima .prossima:disabled {
    background-color: gray;
    box-shadow: rgb(55, 54, 54) 4px 4px 0px;
    color: #ffffff;
}
.quiz > .quiz-prossima .prossima:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #013e7f 0px 0px 0px;
}

.quiz > .quiz-prossima #prossima2 {
    display: none;
}
.quiz > .quiz-prossima #prossima3 {
    display: none;
}
.quiz > .quiz-prossima #prossima4 {
    display: none;
}
.quiz > .quiz-prossima #prossima5 {
    display: none;
}

.correct {
    background-color: #77bc3f !important;
    border: 1px solid #426922 !important;
    box-shadow: #324a1e 4px 4px 0px !important;
}
.wrong {
    background-color: #ff0000 !important;
    border: 1px solid #bd0707 !important;
    box-shadow: #440202 4px 4px 0px !important;
}

@media screen and (max-width: 1200px) {
    .quiz > .quiz-domanda #domanda {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .quiz > .quiz-risposte {
        width: 90%;
        padding: 20px;
    }

    .quiz > .quiz-risposte > .quiz-risposta {
        padding: 20px 20px;
    }

    .quiz > .quiz-risposte > .quiz-risposta > button {
        width: 100%;
        padding: 20px;
        min-height: 150px;
    }
}

@media screen and (max-width: 768px) {
    
    .quiz > .quiz-domanda {
        margin-bottom: 10px;
    }
    .quiz > .quiz-domanda #domanda {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .quiz > .quiz-domanda #esito {
        color: #ffffff;
    }

    .quiz > .quiz-risposte {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quiz > .quiz-risposte > .quiz-risposta {
        padding: 10px;
    }

    .quiz > .quiz-risposte > .quiz-risposta > button {
        width: 100%;
        padding: 20px;
        min-height: 120px;
    }
    
}