.container {
    width: 100%;
    padding: 30px 150px 30px;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 70px);
    background-image: url('../../src/images/sfondo-verde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.descrizione {
    width: 100%;
    padding: 20px;
}
.descrizione h3 {
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}
.descrizione a {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 10px;
}

.terminale {
    width: 100%;
    min-height: 50vh;
    border: 5px solid gray;
    background-color: #000000;
}
.window-bar {
    width: calc(100% + 5px);
    height: 25px;
    background-color: gray;
    border: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.window-bar-title {
    width: 70%;
    display: flex;
    text-align: left;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.window-bar-title img {
    margin-right: 10px;
}
.window-bar-title p {
    font-weight: bold;
}
.window-bar-buttons {
    width: 30%;
    text-align: right;
    align-items: center;
}
.window-bar img {
    width: 20px;
    height: 20px;
}

.form {
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 20px;
}
.form label {
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}
.form label .dominio {
    color: #4e9a06;
}
.form label .root {
    color: #0008ff;
}
.form input {
    background-color: #000000;
    flex-grow: 2;
    border: none;
    padding: 10px;
    border-style: none;
    color: #ffffff;
    outline: none;
    font-size: 20px;
}
.form input:focus {
    border: none;
    outline: none;
}
.form .form-elem {
    width: 100%;
    padding: 0 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form .utenteNotFound {
    padding: 10px 0;
}
.form .utenteNotFound p {
    color: #ffffff;
    font-style: italic;
    font-size: 16px;
}
.form .submit {
    background-color: #77bc3f;
    color: #000000;
    border-radius: 12px;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    outline: none;
    visibility: hidden;
    margin: 10px;
}
.form .submit:hover {
    background-color: #4e9a06;
    color: #000000;
    cursor: pointer;
}

small{
    margin: 3px;
    visibility: hidden;
    color: rgb(153, 13, 8);
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 20px 50px 10px;
    }
    .form {
        font-size: 16px;
    }
    .form label {
        font-size: 16px;
    }
    .form input {
        font-size: 16px;
    }
    .form .utenteNotFound p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .pressEnter {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: calc(100vh - 108.4px);
    }
    .descrizione {
        padding: 10px;
    }
    .form {
        padding: 10px;
        font-size: 16px;
        align-items: center;
    }
    .form label {
        width: 100%;
        text-align: center;
    }
    .form input {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .form .form-elem {
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .form .utenteNotFound {
        text-align: center;
        align-items: center;
    }
    .form .utenteNotFound p {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }
    .pressEnter {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .container {
        padding: 20px 20px 10px;
    }
    .form {
        font-size: 14px;
    }
    .form label {
        font-size: 14px;
    }
    .form input {
        font-size: 14px;
    }
    .form .utenteNotFound p {
        font-size: 14px;
    }
}



#divPassword {
    visibility: hidden;
}
