
#bg{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.container {
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.pannello{
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;  
    margin-left: 10%;
    margin-right: 10%;
}

.descrizione{
    padding-top: 15px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;  
}

.descrizione > h2{
    padding-bottom:20px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}
.descrizione > h3{
    padding:10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-style: italic;
}
.descrizione > a {
    font-weight: bold;
    color: black;
    font-style: italic;
}
.descrizione > a:hover {
    color: #ffffff;
}

.form{
    margin-top: 50%;
    
}

.grid{
    padding: 20px;
    display: grid;
    grid-template: "i1 i3"/ 1fr 1fr;   
    grid-column-gap: 15%; 
    margin-left: 5%;
    margin-right: 5%;       
}

.form-control[id="divUsername"]{grid-area: i1;}
.form-control[id="divPassoword"]{grid-area: i3;}

.form-control{
    position: relative;
}
.form-control label{
    color:white;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.utenteNotFound {
    color: white;
    font-style: italic;
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding-top: 20px;
}

#divSubmit {
    padding: 20px;
}

.submit {
    background-color: #000000;
    border-color: #77bc3f;
    border-radius: 12px;
    color: #77bc3f;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
}

.submit:hover {
    background-color: green;
    border-color: green;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 70px 5px 15px 5px;
    }
    
    .pannello{  
        margin-left: 5%;
        margin-right: 5%;
    }

    .descrizione{
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .descrizione > h2{
        margin-top: 10px;
    }
    .descrizione > h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .grid{
        display: block;
        justify-content: center; 
        margin-left: 5%;
        margin-right: 5%;       
    }

    .form-control{
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
    }

    .utenteNotFound {
        padding-top: 5px;
    }

    #divSubmit {
        padding: 10px;
    }
    
    .submit {
        padding: 10px;
    }
}