.container {
    margin-bottom: 150px;
}

.descrizione {
    padding-top: 20px;
    color: #77bc3f;
    text-align: center;
}

.descrizione > h2{
    font-size: xx-large;
    text-shadow: #ffffff;
    font-weight: bold;
}

.table {
    color: #ffffff;
}
.table th {
    background-color: #ffffff;
    color: #000000;
}


