* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #000000;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: regular;
}

h3 {
    font-size: 24px;
    font-weight: lighter;
}

p {
    font-size: 16px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    font-weight: regular;
    font-size: 16px;
}

.button {
    background-color: #77bc3f;
    border-color: #77bc3f;
    border-radius: 12px;
    color: #000000;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: green;
    border-color: green;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 12px;
    }
    
    a {
        font-size: 14px;
    }
    
    .button {
        font-weight: regular;
    }
}