.admin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    padding: 20px;
    color: #ffffff;
}

th {
    color: #77bc3f;
}

td {
    padding: 5px;
    border: 1px solid #ffffff;
}

td > a {
    color: #ffffff;
}
