body {
    background-color : lightgreen;
    font-family: 'Roboto Mono', monospace;
}

form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

h1 {
    color: #0f2027;
    text-align: center;
}

button {
    background-color: lightgreen;
    border-color: lightgreen;
    border-radius: 8px;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: green;
    border-color: green;
    color: #ffffff;
    cursor: pointer;
}


.dati {
    display: flex;
    flex-direction: column;
}

.dati>input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.dati>input>focus {
    outline: 0;
}

.success input {
    border-color: green;
}

.error input{
    border-color: red;
}

.dati.error {
    color: red;
    font-size: 9px;
    height: 13px;
}