.container {
    width: 100%;
    padding: 50px 150px;
}

.nuova-sfida {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid #77bc3f;
    border-radius: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.casuale {
    padding: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.amico {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.amico input {
    padding: 10px;
    border: 1 px solid white;
    border-radius: 10px;
    align-self: center;
}

.sfide {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #77bc3f;
    border-radius: 12px;
    margin-bottom: 20px;
    color: #ffffff;
}
.sfide > h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.sfide > p {
    text-align: center;
    font-size: 20px;
}

.sfida {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sfida .sfida-giocatore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.sfida .sfida-giocatore span {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ffffff;
}
.sfida .sfida-giocatore:hover {
    color: #000000;
    background-color: #ffffff;
}
.sfida .sfida-giocatore .left {
    width: 40%;
}
.sfida .sfida-giocatore .center {
    width: 20%;
}
.sfida .sfida-giocatore .right {
    width: 40%;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 20px 50px;
    }
    
    .nuova-sfida {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #77bc3f;
        border-radius: 12px;
        margin-bottom: 20px;
        align-items: center;
    }
    
    .casuale {
        padding: 10px 50px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .amico {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .amico button {
        width: 30%;
        margin: 15px;
    }
    .amico input {
        width: 30%;
        margin: 15px;
    }
    
    .sfide > h3 {
        font-size: 30px;
        font-weight: bold;
    }
    .sfide > p {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .casuale {
        padding: 0;
        width: 100%;
    }
    .amico {
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    .amico button {
        margin: 5px;
        width: 50%;
    }
    .amico input {
        margin: 5px;
        width: 50%;
    }
    
    .sfide > h3 {
        font-size: 30px;
        font-weight: bold;
    }
    .sfide > p {
        padding: 10px;
        font-size: 12px;
    }
    .sfida {
        width: 100%;
    }
    .sfida .sfida-giocatore span {
        font-size: 14px;
        font-weight: bold;
    }
    .sfida .sfida-giocatore:hover {
        color: #000000;
        background-color: #ffffff;
    }
}

@media screen and (max-width: 550px) {
    .sfida .sfida-giocatore span {
        font-size: 10px;
        font-weight: bold;
    }
}

