*{
    box-sizing: border-box;
}


body{
    background-color: rgb(253, 253, 253);
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    margin:0;  
    font-family: 'Roboto Mono', monospace;
}

.centro{
    justify-content: center;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;  
    margin-left: 10%;
    margin-right: 10%; 
}

.descrizione{
    margin-top: 3%;
    align-items: center;
    color: #77bc3f;
    font-weight: bold;
    text-align: center;   
}

.descrizione h3{
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(57, 57, 230);
    font-style: italic;
}
.grid{
    display: grid;
    grid-template: "i1 i3"
                   "i4 i6"
                   "i7 i9"
                   "i10 i12" / 1fr 1fr;   
    grid-column-gap: 10%;
    grid-row-gap: 2%;
    justify-content: center; 
    margin-left: 5%;
    margin-right: 5%;       
}

.form-control[id="divNome"]{grid-area: i1;}
.form-control[id="divCognome"]{grid-area: i4;}
.form-control[id="divEmail"]{grid-area: i7;}
.form-control[id="divUsername"]{grid-area: i3;}
.form-control[id="divPassoword"]{grid-area: i6;}
.form-control[id="divPasswordConf"]{grid-area: i9;}
.form-control[id="divSubmit"]{grid-area: i10;}

.header{
    background-color: #77bc3f;
    max-height: 80px;
    padding: 10px 20px;
    text-align: center;
}

.form{
    padding: 10px 30px;
}

.form-control{
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin: bottom 10px;
    cursor: pointer;
    font-weight: bold;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:2px solid #f5f3f3;
}

.form-control.success input{
    border:2px solid rgb(14, 131, 14)
}
.form-control.error input{
    border:2px solid rgb(223, 25, 18);
}
.form-control small{
    position:absolute;
    margin: 3px;
    visibility: hidden;
    color: rgb(153, 13, 8);
}
button{ 
    background-color: #77bc3f;
    border-color: #77bc3f;
    border-radius: 12px;
    color: #000000;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 44%;
    margin-bottom: 10%;
}

button:hover {
    background-color: green;
    border-color: green;
    color: #ffffff;
    cursor: pointer;
}

